@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply
    decoration-2
    bg-slate-800
    text-slate-50
}
a{
    @apply
    duration-500
    underline-offset-4
    hover:text-orange-300
    hover:underline
}
nav{
    @apply
    w-full
    border-b
    border-slate-500
}
nav ul{
    @apply
    flex
}
nav ul li{
    @apply
    p-4
    text-2xl

}
main{
    @apply
    mx-4
    mt-4
    md:mx-8
    lg:mx-16
}